VITE_SUPABASE_URL= https://dcyydmzvveuihqxtsebt.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjeXlkbXp2dmV1aWhxeHRzZWJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2MzM4MTMsImV4cCI6MjA5ODIwOTgxM30.j8tospNZPY3MwT-oy0-DkTTeNwUYc7NarVfUkN-v9-o
